div.header{
    background-image: url('../assets/home/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
}