@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ 
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: "Manrope", sans-serif;
  min-height: 100vh;

}

@media (min-width: 400px) and (max-width:900px){
ul li{
  display: block;
}
.links{
  display: none;
}
}




@media (min-width:900px){
#burger{
  display: none;
}

}
ul li{
  list-style: none;
}
/* ul{
  display: flex;
  gap: 10px;
} */
.top{
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 60px 10px;
  
  
}
#audio{
  font-weight: 800;
  font-size: 28px;
}

#burger{
  width: 30px;
}
footer{
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 40px;
}

footer ul li{
  display: block;
  text-align: center;
  margin: 20px;

}

footer #socials{
  display: flex;
  justify-content: center;
}
footer p{
  opacity: 50%;
  text-align: center;
  margin: 30px 0;
}
.links{
  margin: 0 10px;
  display: none;
}
button{
  padding: 20px;
  width: 50%;
}

img.pics{
  width: 100%;
  margin-bottom: 40px;
  padding-top: 10px;
}

.singles{
  text-align: center;
}

.orange{
  background-color: #D87D4A;
  background-image: url('./assets/home/desktop/pattern-circles.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  text-align: center;
  align-items: center;
  gap: 40px;
  padding: 40px;
  color: white;
}

.orange img{
  width: 50%;
}

.zee7{
  background-image: url('assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  height: 327px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 35px;
  margin-top: 30px;
}
.yx1{
  background-color: grey;
}
.yxep{
  background-image: url('assets/home/mobile/image-earphones-yx1.jpg');
  height: 200px;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.x1grey{
  background-color: #F1F1F1;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.topic{
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  text-align: center;
  letter-spacing: 3px;
  padding: 15px;
  font-size: 30px;
}