@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');
:root {
  /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;

  
  background-color: rgba(255, 255, 255, 0.87);
  color: #242424;
/* 
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; */ 
  
}


*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: "Manrope", sans-serif;
  min-height: 100vh;

}


ul li{
  list-style: none;
}
/* ul{
  display: flex;
  gap: 10px;
} */
div.header{
    background-image: url('./assets/home/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 20px;
    align-items: center;
}
.top{
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 60px 10px;
  
  
}
#xx99{
  text-transform: uppercase;

}
.bringimg{
  background-image: url('./assets/shared/mobile/image-best-gear.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
}
#bh1{
  padding: 10px 0;
  margin-top: 20px;
}
#bh1 span{
  color: #D87D4A;
}
#audio{
  font-weight: 800;
  font-size: 28px;
}


#burger{
  width: 30px;
}
footer{
  background-color: black;
  color: white;
  padding: 20px;
  margin-top: 40px;
}
a{
  text-decoration: none;
  color: aliceblue;
}

footer ul li{
  display: block;
  text-align: center;
  margin: 20px;

}

footer #socials{
  display: flex;
  justify-content: center;
}
footer p{
  opacity: 50%;
  text-align: center;
  margin: 30px 0;
}
.links{
  margin: 0 10px;
  display: none;
}
button{
  padding: 20px;
  width: 50%;
}

img.pics{
  width: 100%;
  margin-bottom: 40px;
  padding-top: 10px;
}

.singles{
  text-align: center;
}

.orange{
  background-color: #D87D4A;
  background-image: url('./assets/home/desktop/pattern-circles.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  color: white;
}

.orange img{
  width: 50%;
}

.zee7{
  background-image: url('assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  height: 327px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 35px;
  margin-top: 30px;
}
.yx1{
  background-color: grey;
}
.yxep{
  background-image: url('assets/home/mobile/image-earphones-yx1.jpg');
  height: 200px;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.x1grey{
  background-color: #F1F1F1;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.topic{
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  text-align: center;
  letter-spacing: 3px;
  padding: 15px;
  font-size: 30px;
}

@media (min-width: 400px) and (max-width:900px){
ul li{
  display: block;
}
.links{
  display: none;
}
div.header{
  background-image: url('./assets/home/tablet/image-header.jpg');
}
}






@media (min-width:900px){

.margin125{
  margin: 0 125px;
}
.orange{
  background-image: url('./assets/home/desktop/image-speaker-zx9.png'),url('./assets/home/desktop/pattern-circles.svg') ;
  height: 560px;
  background-position: 10% 107%;
  background-size: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#owords{
  width: 349px;
  height: 303px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}
#burger{
  display: none;
}

.links{
  display: block;
}
div.header{
  background-image: url('./assets/home/desktop/image-hero.jpg');
  align-items: flex-start;
  padding-left: 165px;
  text-align: left;
}
div.header div{
  width: 398px;
  height: 346px;
  outline: 2px solid red;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.top ul{
  display: flex;
  gap: 35px;
}

.bringimg{
  background-image: url('./assets/shared/desktop/image-best-gear.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: auto;
}
.desk{
  display: flex;
  flex-direction: row-reverse;
  height: 588px;
}
#btexts{
  width: 50%;
  align-self: center;

}
#bh1{
  padding-right: 60px;
  font-size: 40px;
}
}