@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');




*{
  margin: 0;
  padding: 0;
  box-sizing: border-box; 
}

body{
  font-family: "Manrope", sans-serif;
  min-height: 100vh;
}


ul li{
  list-style: none;
}
/* ul{
  display: flex;
  gap: 10px;
} */
div.header{
    background-image: url('./assets/home/mobile/image-header.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    min-height: 100vh;
    color: white;
    display: flex;
    flex-direction: column;
    place-content: center;
    gap: 20px;
    align-items: center;
}
.top{
  color: white;
  background-color: black;
  display: flex;
  justify-content: space-between;
  padding: 60px 10px;
  
  
}
#xx99{
  text-transform: uppercase;

}
.bringimg{
  background-image: url('./assets/shared/mobile/image-best-gear.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
}
#bh1{
  padding: 10px 0;
  margin-top: 20px;
}
#bh1 span{
  color: #D87D4A;
}
#audio{
  font-weight: 800;
  font-size: 28px;
}


#burger{
  width: 30px;
}
footer{
  background-color: black;
  color: white;
  padding: 20px;
  display: flex;
  flex-direction: column;
}
footer h4{
  text-align: center;
}
a{
  text-decoration: none;
  color: aliceblue;
}
a:hover, a:active{
  color: #D87D4A;
}

footer ul li{
  display: block;
  text-align: center;
  margin: 20px;

}

footer #socials{
  display: flex;
  justify-content: center;
}

#socials li{
  width: 10px;
}
footer p{
  opacity: 50%;
  text-align: center;
  margin: 30px 0;
}
.links{
  margin: 0 10px;
  display: none;
}
button{
  padding: 20px;
  width: 160px;
}

img.pics{
  width: 100%;
  margin-bottom: 40px;
  padding-top: 10px;
}

.singles{
  text-align: center;


}
.cover{
  background-size: cover;
}

.newporange{
  text-transform: uppercase;
  letter-spacing: 10px;
  color: #D87D4A;
}
.xx9product{
  background-image: url('./assets/product-xx99-mark-two-headphones/mobile/image-category-page-preview.jpg');
}
.xx9product1{
  background-image: url('./assets/product-xx99-mark-one-headphones/mobile/image-category-page-preview.jpg')
}
.xx59product{
  background-image: url('./assets/product-xx59-headphones/mobile/image-category-page-preview.jpg');
}
.dash{
   height: 352px;
  width: 100%;
  background-position: center;
  background-size: cover;
}
.orange{
  background-color: #D87D4A;
  background-image: url('./assets/home/desktop/pattern-circles.svg');
  background-position: center;
  background-size: 100%;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  padding: 40px;
  color: white;
  justify-content: center;
}
.pdesc{
  opacity: 50%;
  text-align: center;
  padding: 0 50px;
  line-height: 25px;
  font-size: 15px;
}
.orange img{
  width: 50%;
}

#zx{
  font-size: 80px;
}
form{
  background-color: white;
  /* margin: 5px 24px; */
  padding: 10px;
  border-radius: 10PX;
}
input{
  border-radius: 5px;
}
form h3{
  color: #D87D4A;
  letter-spacing: 1px;
}
.formcontainer{
  background-color: #F1F1F1;
  min-height: 100vh;
  width: 100%;
  padding: 24px;
}

.sumary{
  background-color: white;
  border-radius: 10px;
  margin-top: 10px;
  padding: 10px;
}
.prodcont{
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  margin-bottom: 120px;
}
.prodcont h1{
  text-transform: uppercase;
}
input{
  width: 100%;
  border: 1px solid black;
  padding: 10px;
}
input.raid{
  width: 5%;
  padding: 0;
}
.zee7{
  background-image: url('assets/home/mobile/image-speaker-zx7.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  letter-spacing: 2px;
  height: 327px;
  padding-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  gap: 35px;
  margin-top: 30px;
}
.yx1{
  background-color: grey;
}
#carticon{
  width: 23px;
  height: 16px;
}
.half{
  width: 100%;
  height: 300px;
}
.full{
  width: 100%;
  height: 300px;
}
.yxep{
  background-image: url('assets/home/mobile/image-earphones-yx1.jpg');
  height: 200px;
  background-position:center;
  background-size: cover;
  background-repeat: no-repeat;
}
.x1grey{
  background-color: #F1F1F1;
  height: 200px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.topic{
  background-color: rgba(0, 0, 0, 0.902);
  color: white;
  text-align: center;
  letter-spacing: 3px;
  padding: 15px;
  font-size: 30px;
}

@media (min-width: 400px) and (max-width:900px){
ul li{
  display: block;
}


.links{
  display: none;
}
div.header{
  background-image: url('./assets/home/tablet/image-header.jpg');
}
footer{
  background-color: black;
  color: white;
  padding: 40px;
  display: flex;
}
footer ul{
  display: flex;
  gap: 3rem;

}
footer  h4{
  text-align: left;
}
footer ul li{
  display: block;
  text-align: center;
  margin: 20px 0px;
}
footer p{
  text-align: left;
}
.tabflex{
  display: flex;
  justify-content: space-between;
}
}






@media (min-width:900px){
footer{
  display: flex;
  padding: 50px 125px;
}
footer ul{
  display: flex;
}
footer p{
  text-align: left;
}
.deskflex{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.bodymargin{
  margin: 0 120px;
}
#audtext{
  width: 50%;
}
.tabflex{
  display: flex;
  justify-content: space-between;
}
.topic{
  margin: 0 -120px;
}
.dash{
  height: 560px;
  width: 50%;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}
.xx9product{
  background-image: url('./assets/product-xx99-mark-two-headphones/desktop/image-category-page-preview.jpg');
}
.xx9product1{
  background-image: url('./assets/product-xx99-mark-one-headphones/desktop/image-category-page-preview.jpg');
}
.xx59product{
  background-image: url('./assets/product-xx59-headphones/mobile/image-category-page-preview.jpg');
}

.margin125{
  margin: 0 125px;
}
.orange{
  background-image: url('./assets/home/desktop/image-speaker-zx9.png');
  height: 560px;
  background-position: 10% 107%;
  background-size: 30%;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}
#owords{
  width: 349px;
  height: 303px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-right: 120px;
}
#burger{
  display: none;
}

.links{
  display: block;
}
div.header{
  background-image: url('./assets/home/desktop/image-hero.jpg');
  align-items: flex-start;
  padding-left: 165px;
  text-align: left;
  margin: 0 -120px;
}
div.header div{
  width: 398px;
  height: 346px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.top{
  padding-inline: 80px;

}

.top ul{
  display: flex;
  gap: 35px;
}
.shop{
  display: flex;
}

.bringimg{
  background-image: url('./assets/shared/desktop/image-best-gear.jpg');
  height: 300px;
  background-position: center;
  background-size: cover;
  width: 50%;
  height: auto;
}
.desk{
  display: flex;
  flex-direction: row-reverse;
  height: 588px;
}
#btexts{
  width: 50%;
  align-self: center;

}
#bh1{
  padding-right: 60px;
  font-size: 40px;
}
.zee7{
  background-image: url('./assets/home/desktop/image-speaker-zx7.jpg');
  background-size: cover;
  background-position: center;
}
.yflex{
  display: flex;
  gap: 30px;
}

.yxep{
  width: 50%;
  background-image: url('./assets/home/desktop/image-earphones-yx1.jpg');
}
.x1grey{
  width: 50%;
}
.prodcont{
  display: flex;
  flex-direction: row;
  
}
.prodwords{
  align-items: flex-start;
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 40px;
}
.pdesc{
  padding: 0px;
  text-align: left;
}

}